@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 62.5%;
}
:root{
    --myfont: 'Montserrat', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(22, 114, 97, 0.349),rgba(0, 5, 12, 0.356));
    --lg-color: linear-gradient(to-left, #74ebd5, #9face6);
}

body{
    background-image: var(--lg-lightcolor),url(./images/pexels-kon-karampelas-3914167.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    width : calc(100vw - 60vw);
    /* height: 700px; */
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.425);
}
.header{
    background: rgb(93,71,176);
    background: linear-gradient(90deg, rgba(93,71,176,0.9167017148656338) 14%, rgba(157,61,130,1) 67%);
    padding: 30px 0;
}
h2{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #222;
}
.form{
    padding: 4rem;
}
.form-control{
    margin-bottom: 3rem;
    position: relative;
}
.form-control label{
    display: inline-block;
    font-size: 2rem;
}
.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 1.4rem;
    padding: 1.2rem;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form .btn{
    background: rgb(93,71,176);
    background: linear-gradient(90deg, rgba(93,71,176,0.9167017148656338) 14%, rgba(157,61,130,1) 67%);
    border-radius: 6px;
    display: block;
    font-size: 1.6rem;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    /* transition: all 5s ease; */
    cursor: pointer;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control i{
    position: absolute;
    right: 30px;
    top: 43px;
    transform: scale(3);
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #16b410;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.form-control small{
    visibility: hidden;
    font-size: 1.4rem;
    color: #e74c3c;
    position: absolute;
    /* bottom: 0; */
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form .btn:hover{
    background: rgb(76,207,227);
    background: linear-gradient(90deg, rgba(76,207,227,1) 9%, rgba(149,71,176,0.9167017148656338) 64%);
    transition: ease all 2s;
}
@media(max-width:998px){
    .container{
        width: calc(100vw - 30vw);
        max-width: 100%;
    }
}